# Dies ist eine Chef generierte Datei. Manuelle Änderungen gehen u.U. verloren!
# Cookbook: <%= cookbook_name %>

<% @cfg.each do |k, v| -%>
<%= k %>=<%= v %>
<% end # of @cfg.each do |k, v| -%>

# COMMAND DEFINITIONS
#############################################################################

#
# you can place your config snipplets into nrpe.d/
# only snipplets ending in .cfg will get included
include_dir=<%= @cfg_path %>/nrpe.d/
